.fullModal {
    top: 10px;

    :global {
        .ant-modal-content {
            height: 100%;
            padding: 10px;
        }

        .ant-modal-header {
            padding: 10px 24px;
        }

        .ant-modal-close-x {
            height: 44px;
            color: #1890ff;
            line-height: 44px;
            &:hover {
                color: #40a9ff;
            }
        }

        .ant-modal-body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: auto;
            text-align: center;
        }
    }
}
